language: python
python:
  - "3.6"
branches:
  except:
    - /^v(\d+\.)?(\d+\.)?(\*|\d+)$/
before_script:
  - chmod +x semantic_release.sh && ./semantic_release.sh
script:
  - chmod +x build.sh && ./build.sh
  - chmod +x assets_release.sh && ./assets_release.sh
after_success:
  - chmod +x deployready.sh && ./deployready.sh
deploy:
  skip_cleanup: true
  provider: packagecloud
  repository: develop
  username: twine
  token:
    secure: "${PACKAGECLOUD_TOKEN}"
  dist: python
  local-dir: src/dist
  on:
    all_branches: true
    condition: -f src/release_id.txt
env:
  global:
    - secure: hDq1DJINIwKTTjL0zMOE9YGCo5q9zTCWdp2Yni3r7OonMD0jPjQyy6WT5eJ3C5/G6wXNevw8PMAGwIOy9k267VYJ3MIuNTPypnDeoNPKC6+wE7HP4Gef+CZGg+dSF7il4rIdCX3M76HkS9gYldG9Jp831uIWZRitTfuT787uNcWw36om5HGZyezXSp9PQzlQYhddwAldH8ZlTt5tbdc+6LBfSkQQJsnzsP+j7D4taHPlDRL/KSa3zTzwuNXm2sNimUMMDCgiBUsWNNpH+X+BMsZ1B9d3tRLaz4z2CNsoa/JS0qB7yWi/5/81Zu/B72SEXQAIhz/LhdGlZMd5ynJsxndyPXos/XLyukC7Sx0RDqmeZ5JdnYzK3aykIFncrpPyG7anrmLpSzgGRfNbbxZ6yYK8T7Acq3O/rspfUyysIBhxgkh5mBDplTPEnn5ZG30QX9czy5bXTW8uRu6Iit4X/2KIApytpcS2C2dWiDlyzp6M3THvm1AsRq3S/XjWr3wGE/eC5GtUjx5qD5b1Lfduq6sDH8ejdj+/ZDNlPkLSW2gl0onHi502+CrXczjAniy7SmSHXLNFa5iFHhvaC4AUXHobBnX9GO0BrbKUpqzVUsXSNofLG6zcBi/d4LR6lbTUoZX2DQbvmfw/mA/atIKgq+Mbj6Ci2+z8YMYKGsqEsd0=
    - secure: BJx3yNQ0LlOpzSr8Onb/XJR9izMOL+eCZh6c1sLxfRS1Fy6SANS54ubMjAlb1hBoADmX76aTpO1Ylqt2Vyd9iJwlt06TCu07mOLSqAy+yW1/TbfCQdHrIy61ZcJ1TehMPfJ/iGvJZHEMjeA2QSx/GRiTlAFo4u8Rn0PQP8oy1N+zBnIPXlqYP2nXX7JTsnKQm5yvtOiNN8MqXxOOyZ2aKfxOusTT/O6W25vwWEnej8gmEe+P5ys9KEK011EqFXNrJYHN4OCwnvPvAfbk5P6hAo8o0fQXidEsVfZ5natxo9BdjFMV9cbn+uVqtoqSqmw1dMEO4vvSz7O9infSqoCZwzNmFNLlMps6lXPHDgM2i/Zdt3CwTJsS7ltcK87tWx0eUmuwTJ7cLYJGUZ+zEoEGnv5BPuZA69iuBvxEzLROI/XI+MYW9kxlzKYTUFYAw9h3y087A7KDgO0u9/JKNVJ9YUpvUdZZpiR1TYqqAyHxw5sNBK3FmN85Tob/tMQyE2hCDbXg+wZYqYlzprB1hsIsJz3xZOQKZ285SEFtVi3D8SKO4ud0Yz/2yBE1jMv3iVx2ZeFqgD7NyredK8MDOr3gqZ6YRFoDf03cfe+jN+DVSYthLhoa4Bgczaj63RbSptJiJ7Oe/Lj3p0laqPFUOGf7obH7eGxE1PnpSx0J7HScMDA=
